/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

.edit-banner {
	width: 100%;
	height: 59px;
	background-color: black;
	color: white;
	text-align: center;
	font-family: Work Sans;
	font-size: 16px;
	font-weight: 400;
}

.display-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.display-none {
	display: none;
}

.fa-white {
	color: white;
}

.fa-black {
	color: black;
}

.edit-project {
	text-align: center;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 400;
	color: black;
	position: absolute;
	right: 500px;
	bottom: 10px;
}

.edit-project a {
	text-decoration: none;
	color: black;
}

/* MODALE */

.modal {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
	overflow: auto;
	background-color: white;
	width: 630px;
	height: 688px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 30px;
	box-sizing: border-box;
	border-radius: 10px;
}

.js-modal-close {
	text-align: end;
	font-size: 20px;
}

h3 {
	color: black;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
}

.modal-gallery {
	display: flex;
	flex-wrap: wrap;
	margin : 40px 40px 0 70px;
	gap: 10px;
}


.modal-gallery-img {
	width: 78px;
	height: 104px;
}

.delete-button {
	width: 18px;
	border-radius: 2px;
	position: absolute;
	margin-top: 7px;
	margin-left: 55px;
	cursor: pointer;
}




hr {
  color: #B3B3B3;
  width: 420px;
  height: 0px;
  border: 1px solid #B3B3B3;
  position: absolute;
  bottom: 120px;
}

.modal-btn {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	background: #1D6154;
	color: white;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	position: absolute;
	bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

/* FORMULAIRE */

.js-fmodal-close {
	text-align: end;
	font-size: 20px;
}

.form-wrapper {
	overflow: auto;
	background-color: white;
	width: 630px;
	height: 688px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 0 30px;
	box-sizing: border-box;
	border-radius: 10px;
}

.form_modal {  
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.fa-arrow-left {
	font-size: 20px;
	position: relative;
	top: 20px;
}

.form-preview {
	width: 420px;
	height: 169px;
	margin: 30px 70px; 
	border-radius: 3px;
	gap: 10px;
	background: #E8F1F6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fa-image{
	font-size: 76px; 
	color : #B9C5CC;
}

.custom-file-upload {
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background: #CBD6DC;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #306685;
	text-align: center;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}

#file-upload {
	position: relative;
	z-index: -1;
	margin-top: -30px;
}

.form-preview p {
	color: #444;
	text-align: center;
	font-family: Work Sans;
	font-size: 10px;
	font-weight: 400;
}

#form-modal form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	margin: 0 70px;
}

form input[type="text"], select {
	width: 420px;
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 20px;

}

form label {
	margin-bottom: 10px;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
}

form input[type="submit"] {
	width: 237px;
	height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	margin: 20px 110px;
	border-style: none;
}


.btn-disabled {
	background-color: #A7A7A7;
}

.btn-abled {
	background-color: #1D6154;
}

.form-preview img {
	position: absolute;
}

.preview-img-disabled {
	z-index: -1;
}



/* MAIN */

.main-container {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li a {
	text-decoration: none;
	color: black;
}


li a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 405px;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin : 40px 0;
}

.filter_btn {
	border-radius: 60px;
	border: 1px solid #1D6154;
	height: 37px;
	padding: 9px 20px;
	color: #1D6154;
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	background-color: #FFFEF8;
}

.filter_btn-selected {
	background-color: #1D6154;	
	color: #FFFEF8;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

